/* /css/style.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #f82c2c;
    --text-color: #090606;
    --bg-color: #fff;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 1px 4px #8e8484;
    z-index: 50;
}

section {
    padding: 5rem 0 3rem;
}

.container {
    max-width: 1080px;
    margin: auto;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.logo {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 400;
}

#cart-icon {
    font-size: 2rem;
    cursor: pointer;
}

/* Cart */

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 360px;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0px 4px #8e8484;
    transition: 0.5s;
    overflow-y: scroll;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 600;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 5rem;
    text-align: right;
    padding: 2px;
    font-size: 1rem;
}

.cart-remove {
    font-size: 25px;
    color: var(--main-color);
    cursor: pointer;
}

.cart-remove:hover {
    position: relative;
    left: 1px;
    font-size: 28px;
    color: var(--text-color);
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-weight: 600;
}

.total-price {
    margin-left: 1rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 8px 15px;
    border: none;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-buy:hover {
    background-color: var(--text-color);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

#close-cart:hover {
    color: var(--main-color);
    font-size: 2.2rem;
}

.section-title {
    padding: 30px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.shop {
    /* margin-top: 2rem; */
    margin-bottom: 1rem;
}

/* shop content */
.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1.5rem;
}

.product-box {
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.5s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--bg-color);
    background-color: var(--text-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background-color: var(--main-color);
}

.add-cart.selected{
    background-color: green;
}

/* Order Confirmation */

.order-confirmation {
    /* margin-top: 80px; */
    padding: 5rem 0 3rem;
}

.order-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

#order-list li {
    /* Add your styles for each order item here */
    border: 1px solid var(--text-color);
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    justify-content:space-between;
    grid-template-columns: 100px 1rem;
    gap: 2rem;
    align-items: center;
    position: relative;
}

#order-list li:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.5s;
}

.order-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.order-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.order-quantity {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.order-total-price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}

/* Add this style for the cross button in the navigation bar */
#close-order {
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
  }
  
  #close-order:hover {
    color: var(--main-color);
    font-size: 2.2rem;
  }
  

@media (max-width: 1080px) {
    .order-confirmation {
        padding: 3rem 0 2rem;
    }
}

@media (max-width: 400px) {
    .order-img {
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 1080px) {
    .nav {
        padding: 15px;
    }

    .container {
        margin: 0 auto;
        width: 90%;
    }

    section {
        padding: 3rem 0 2rem;
    }

    .shop {
        margin-bottom: 1rem !important;
    }
}

@media (max-width: 400px) {
    .nav {
        padding: 11px;
    }

    .logo {
        font-size: 1rem;
    }

    .cart {
        width: 280px;
        padding: 10px;
    }

    .cart-img {
        height: 80px;
        width: 80px;
    }

    .cart-box {
        gap: 0.5rem;
    }
}

/* /css/order.css */

.order-content {
    display: block;
  }
  
  .order-title-bar {
    display: grid;
    grid-template-columns: 20% 40% 30% 10%;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: left;
    font-weight: bold;
  }
  
  .order-box {
    display: grid;
    grid-template-columns: 20% 40% 30% 10%;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: left;
  }
  
  .order-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 0 auto;
  }
  
  .order-title {
    display: inline-block;
    margin: 0.5rem 0;
  }
  
  .order-quantity,
  .order-price {
    display: inline-block;
    margin: 0.5rem 0;
  }
  
  /* Total Price Box */
  .total-price-box {
    display: grid;
    grid-template-columns: 70% 30%;
    border: 1px solid #ccc;
    padding: 1rem 2rem;
    text-align: left;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 3rem;
  }
  
  #show-stream-button {
    display: block;
    position: relative;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--main-color);
    cursor: pointer;
  }
  
  #video-stream{
    border: 3px solid var(--main-color)
  }
  
  #video-stream h2{
    text-align: center;
    margin-top: 500px;
    margin-bottom: 500px;
  }
  